@CHARSET "ISO-8859-1";

body {	
	margin: 0;
	padding: 0;
}


#navMenu{
	margin: 20px auto;
}

.item{
	width: 120px;
	height: 40px;
	font-size: 25px;
	font-family:"Courier New", Courier, monospace;
    font-weight:100;
}
.claro .dijitMenuItem{
	color: #595959;
}
.claro .dijitMenu{
	border: none;
}


button {
	-webkit-transition: background-color 0.2s linear;
	border-radius: 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background-color: #E4F2FF;
	background-image:
		url("http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dijit/themes/claro/form/images/button.png");
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid #769DC0;
	padding: 2px 8px 4px;
	font-size: 1em;
}

button:hover {
	background-color: #AFD9FF;
	color: #000000;
}

div#main_body {
	min-height: 1000px;
	width: 85%;
	border-radius: 15px;
	margin: 20px auto;
	background-color: white;
}

div#header_wrap{
	width: 100%;
	height: 360px;
	border-radius: 15px;
	-moz-box-shadow:    0 0 10px rgba(168,168,168,.2);
 	-webkit-box-shadow: 0 0 10px rgba(168,168,168,.2);
  	box-shadow:         0 0 10px rgba(168,168,168,.2);
}

div#left_body_div {
	width: 30%;
	height: 360px;
	overflow: hidden;
	float: left;
}

div#right_body_div {
	width: 70%;
	height: 360px;
	overflow: hidden;
	float: left;
}

#header_div {
	width: 100%;
	height: 7%;
}

.showcase_div {
	width: 98%;
	height: 100%;
	margin: 5px auto;
}

#bottom_div {
	height: 45%;
	width: 100%;
}

.maindiv_hr {
	width: 80%;
	color: #00FFFF;
}

.rotator {
	background-color: #fff;
	border: solid 1px #e5e5e5;
	width: 97%;
	height: 335px;
}

.pane {
	background-color: #fff;
	width: 100%;
	height: 100%;
	padding: 10px;
}

#myAutoRotator1 {
	border: none;
}

.logout_pane {
	font: regular 14px Helvetica, Arial, sans-serif;
}

a.google_button {
	color: #6E6E6E;
	font: bold 14px "Courier New", Courier, monospace;
	text-decoration: none;
	padding: 10px 12px 10px 12px;
	text-shadow: 0 1px 0 white;
	border: solid 1px #999;
	height: 46px;
}

.google_image {
	width: 30px;
	vertical-align: middle;
	padding-bottom: 7px;
}

a.google_button:hover {
	color: #333;
	border-color: #333;
}

div.login_pane {
	padding-left: 50px;
	padding-top: 20px;
}

div.logout_pane {
	padding: 20px 50px 0 50px;
}

#header_div {
	height: 70px;
	background-color: #FFCC66;
}

a img {
	border: none;
}

#loader {
		background: #fff;
		height: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		vertical-align: middle;
		width: 100%;
		z-index: 999;
	  }
#loaderInner {
		-webkit-box-shadow: -1px 1px 5px #888;
		background-color: #FFFFCB;
		color: #c99800;
		display: table;
		font-size: 16px;
		padding: 5px 13px;
		text-align: center;
	  }

p, li, td {
	padding: 8px;
	font: 12px Arial, Helvetica, sans-serif;
	line-height:20px; 
	letter-spacing:1px; 
	color: #595959;
	text-align: left;
}

h3{
	font: 16px Arial, Helvetica, sans-serif;
	color: #595959;
	font-weight: bold;
}

th, .table_heading{
	font: 16px Arial, Helvetica, sans-serif;
	color: #595959;
	height: 25px;
	text-align: left;
}

.body_content{	
	margin: 20px;		
}

.footer_p{
	text-align: center;
}

#top_bar{	
	background: #131623;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131623', endColorstr='#1A1C27');
	background: -webkit-gradient(linear, left top, left bottom, from(#131623), to(#1A1C27));
	background: -moz-linear-gradient(top, #131623, #1A1C27);
	background: -o-linear-gradient(top, #131623, #1A1C27);
	height: 1%;
	width: 100%;
	color: #A1A2A7;
	font-size: 0.7em;
	font-family: Arial, sans-serif;
}

#menubar{
	height: 50px;
	width: 70%;
	min-width: 500px;
	overflow: hidden;
	background: -webkit-gradient(linear, left top, left bottom, from(#595C64), to(#1B1B1C));
	background: -moz-linear-gradient(top, #595C64, #1B1B1C);
	background: -o-linear-gradient(top, #595C64, #1B1B1C);
	border-top: 1px solid #999;
	border-bottom: 1px solid #666;
	padding: 0 15%;
}

#submenubar{
	height: 30px;
	width: 60%;
	overflow: hidden;
	background: -webkit-gradient(linear, left top, left bottom, from(#595C64), to(#1B1B1C));
	background: -moz-linear-gradient(top, #595C64, #1B1B1C);
	background: -o-linear-gradient(top, #595C64, #1B1B1C);
	border-top: 1px solid #999;
	border-bottom: 1px solid #666;
	padding: 0 20%;
}

#submenublock{
	background-image: url('/static/images/bg_top.png');
	background-repeat: repeat-x;
	border-bottom:  1px solid #E5E5E5;
	height: 300px;
	width: 100%;
	min-width: 800px;
}

.menu_item, .submenu_item{
	font-family: "Courier New", Courier, monospace;
    font-weight:100;
    float: left;
}

.menu_item a{
	color: #CCC;
	display: block;
	letter-spacing: 0px !important;
	text-decoration: none;
	text-shadow: 0px 1px 0px #191919;
	padding: 16px;
	font-size: 1.1em;
	line-height: 1.1;
	font-weight: 200;
}

.menu_item:HOVER, .submenu_item:HOVER{
	background: -webkit-gradient(linear, left top, left bottom, from(#696C72), to(#333334));
	background: -moz-linear-gradient(top, #696C72, #333334);
	background: -o-linear-gradient(top, #696C72, #333334);
	_background: none transparent no-scroll repeat;
}

.menu_item a:HOVER, .submenu_item a:HOVER{
	color: #FFF;
    text-shadow: #EEE 0 0 10px;
}

.menu_selected, .submenu_selected{
	background: -webkit-gradient(linear, left top, left bottom, from(#696C72), to(#333334));
	background: -moz-linear-gradient(top, #696C72, #333334);
	background: -o-linear-gradient(top, #696C72, #333334);
	_background: none transparent no-scroll repeat;
}

.menu_selected a, .submenu_selected a{
	color: #FFF;
    text-shadow: #EEE 0 0 10px;
}

.submenu_item a{
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
	color: #CCC;
	text-decoration: none;
	padding: 8px 20px;
	margin: 0;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	font-size: 0.9em;
	line-height: 1.1;
	display: block;
}

#menubar .dijitMenuItemSelected {
	
}

#menubar .dijitMenuItemHover, #submenubar .dijitMenuItemHover{

}

#header_image_block{
	width: 70%;
	height: 100%;
	min-height: 100px;
	padding: 0 15%;
}

#header_title1{
	float: left;
	overflow: hidden;
	width: 50%;
	height: 200px;
}

#header_image{
	float: left;
	overflow: hidden;
	width: 50%;
	height: 200px;
	margin-top : 30px;
}

#contentpane{
	min-height: 300px;
	width: 70%;
	min-width: 500px;
	padding: 0 15%;
}

.body_content .site_form_table{
	margin: 0 5px 20px 5px;
	
}

.body_content .site_form_table td{
	padding: 4px;
}

.textbox_small{
	width: 40px;
}

.question{
	font-size: 1.0em;
}
